<style>
    [wire:loading] {
        display: none;
    }
    [wire:offline] {
        display: none;
    }
    [wire:dirty]:not(textarea):not(input):not(select) {
        display: none;
    }
</style>
